* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: #fbf7e3;
    border-radius: 30%;
    color: #612406;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding-bottom: 1rem;
}

.card img {
    width: 100%;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
}

.card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 1rem;
}

.card-description {
    text-align: center;
}

.price {
    display: flex;
    align-items: center;
}

.div-btn {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #f3df85;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    color: #612406;
    border: none;
}
