* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #612406;
}

nav {
    background-color: #fbf7e3;
    border-radius: 50px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    align-items: center;
}

nav .btn {
    padding: 1rem;
}

article {
    background-color: #fbf7e3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
}

article div {
    padding: 1rem;
}

article img {
    object-fit: cover;
}

@media screen and (min-width: 576px) {
    article {
        flex-direction: row-reverse;
    }

    article img {
        max-width: 50%;
    }
}

.shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
}

.shop img {
    width: 35%;
}

.shop.btn {
    padding: 1rem;
    border-radius: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fbf7e3;
    border-radius: 30%;
    color: #612406;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding-bottom: 1rem;
    margin-block: 1rem;
}

.card img {
    width: 100%;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
}

.card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 1rem;
}

.card-description {
    text-align: center;
}

.price {
    display: flex;
    align-items: center;
}

.div-btn {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #f3df85;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    color: #612406;
    border: none;
}
